*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --white1: #ffffff;
  --black1: #000000;

  --textgrey: #808184;

  --grey1: #dfe4e9;
  --grey2: #f0f1f4;
  --grey3: #F8F8FA;

}
.board-details{
  width: 100%;
  min-height: 92vh;
  background-color: var(--grey2);
  font-size: 0.8rem;
}
.board-details-list{
  width: 100%;
  display: flex;
}